body {
  background-color: #55b491;
}

#unsorted-array,
#counting-array,
#sorted-array {
  display: flex;
  justify-content: center;
}

.unsorted-item,
.counting-item,
.sorted-item {
  border: 2px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
}
