body {
  background-color: #316955;
  color: white;
}

#array-vis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#unsorted-array,
#counting-array,
#sorted-array {
  display: flex;
  justify-content: center;
}

.unsorted-item,
.counting-item,
.sorted-item {
  color: black;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #55b491;
  transition: all 1s;
}

.selected {
  background-color: white;
  font-size: 120%;
  font-weight: bold;
  border-color: red;
}
